{% extends 'base.html.twig' %}

{% block title %}List of  Outfit!{% endblock %}

{% block body %}

    <h1>List of Outfit ✅</h1>
    {% for outfit in outfit %}
        {{outfit.type}} {{outfit.color}} {{outfit.master.name}} {{outfit.master.surname}}<br>
        <a href="{{path('outfit_edit',{id: outfit.id})}}"> Edit </a>
        <form action="{{path('outfit_delete',{id: outfit.id})}}" method='POST'>
            <button> DELETE </button>
        </form>
    {% endfor %}
{% endblock %}